In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
dfm = pd.read_csv('Predictions/pred_MN.csv')
dfm.head()

    catboost  decision_tree   knn
0  40.118122           30.0  30.0
1  43.597919           65.0  36.0
2  31.594443           30.0  37.0
3  37.123121           30.0  50.0
4  44.213676           30.0  42.0

In [3]:
dfs = pd.read_csv('Predictions/pred_S.csv')
dfs.head()

           0
0  34.546715
1  50.199883
2  34.667040
3  39.412010
4  37.173435

In [4]:
dfd = pd.read_csv('pred_RF.csv')
dfd.head()

   Unnamed: 0          0
0           0  45.938889
1           1  46.641667
2           2  30.000000
3           3  37.136111
4           4  30.000000

In [5]:
dfd = dfd.drop(columns = ['Unnamed: 0'])
dfd.head()

           0
0  45.938889
1  46.641667
2  30.000000
3  37.136111
4  30.000000

In [6]:
s = dfs.values
d = dfd.values
dfm['xgboost'] = s
dfm['random_forest'] = d
dfm.head()

    catboost  decision_tree   knn    xgboost  random_forest
0  40.118122           30.0  30.0  34.546715      45.938889
1  43.597919           65.0  36.0  50.199883      46.641667
2  31.594443           30.0  37.0  34.667040      30.000000
3  37.123121           30.0  50.0  39.412010      37.136111
4  44.213676           30.0  42.0  37.173435      30.000000

In [7]:
# dfm = dfm.drop(columns = ['Weighted_avg'])

In [ ]:
rf = 87%, xgboost =

In [8]:
# Weighted Average
w = [0.16, 0.18, 0.19, 0.25, 0.22]
X = dfm.values

res = np.dot(X, w)

In [9]:
dfm['Weighted_avg'] = res
dfm.head()

    catboost  decision_tree   knn    xgboost  random_forest  Weighted_avg
0  40.118122           30.0  30.0  34.546715      45.938889     36.262134
1  43.597919           65.0  36.0  50.199883      46.641667     48.326804
2  31.594443           30.0  37.0  34.667040      30.000000     32.751871
3  37.123121           30.0  50.0  39.412010      37.136111     38.862646
4  44.213676           30.0  42.0  37.173435      30.000000     36.347547

In [10]:
pred = dfm['Weighted_avg']
pred

0       36.262134
1       48.326804
2       32.751871
3       38.862646
4       36.347547
          ...
2769    43.994173
2770    30.037353
2771    39.776012
2772    62.423105
2773    45.443222
Name: Weighted_avg, Length: 2774, dtype: float64

In [11]:
reg_df = pd.DataFrame(pred)
reg_df.to_csv('Final_Regression_Output.csv')

## Converting Regression outputs to Discrete Classes

In [12]:
def predictions(arr):
    for i in range(len(arr)):
        if(arr[i] < 15):
            arr[i] = 10
        elif(arr[i] >= 15 and arr[i] < 25):
            arr[i] = 20
        elif(arr[i] >= 25 and arr[i] < 38):
            arr[i] = 30
        elif(arr[i] >= 38 and arr[i] < 55):
            arr[i] = 45
        elif(arr[i] >= 55 and arr[i] < 73):
            arr[i] = 65
        elif(arr[i] >= 73 and arr[i] < 93):
            arr[i] = 80
        else:
            arr[i] = 120
    return arr

In [13]:
new_pred = predictions(pred)

In [14]:
new_pred

0       30.0
1       45.0
2       30.0
3       45.0
4       30.0
        ...
2769    45.0
2770    30.0
2771    45.0
2772    65.0
2773    45.0
Name: Weighted_avg, Length: 2774, dtype: float64

In [15]:
new_df = pd.DataFrame(new_pred)

In [16]:
new_df.head()

   Weighted_avg
0          30.0
1          45.0
2          30.0
3          45.0
4          30.0

In [24]:
new_df.iloc[:, 0].value_counts()

45.0     1435
30.0     1281
65.0       56
120.0       2
Name: Weighted_avg, dtype: int64

In [17]:
new_df.to_csv('Final_Test_Result.csv')